@model Todos.Models.Todo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Todo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>Category</div>
    <select name="Category">
        <option @(Model.Category =="ed" ? "selected" : "") value="ed">Education</option>
        <option @(Model.Category =="en" ? "selected" : "") value="en">Entertainment</option>
        <option @(Model.Category =="fi" ? "selected" : "") value="fi">Finance</option>
        <option @(Model.Category =="wo" ? "selected" : "") value="wo">Work</option>
        <option @(Model.Category =="hh" ? "selected" : "") value="hh">Home</option>
    </select>
    <p></p>
    <div>Todo Text</div>
    @Html.EditorFor(model => model.Text,
            new { htmlAttributes = new { style = "width:500px" } })
    <span>&nbsp;</span>
    @Html.ValidationMessageFor(model => model.Text)
    <p></p>
    <input type="submit" value="Submit" />
}

@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
}
